<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>The Gift Wrapping Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="cartController.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="cart.css">
</head>
<body ng-controller="CartController as ctrl">
<div class="container">
    <h1>Smiles Online Shopping</h1>
    <p>Thank you for shopping with us! List the items you want to purchase and we'll have them
    delivered in a jiff! <br>
    Do note that similar items will be aggregated.</p>
    <br>
    <form class="form-inline">
        <div class="form-group">
            <label for="itemName">Item Name</label>
             <input type="text" class="form-control" id="itemName" placeholder="Enter item you want delivered."
                    size="30" ng-model="ctrl.item">
        </div>
        <div class="form-group">
            <label for="itemQuantity">Quantity</label>
            <input type="number" class="form-control" id="itemQuantity" min="1"
                   ng-model="ctrl.quantity">
        </div>
        <button type="button" class="btn btn-primary" ng-disabled="!ctrl.item" ng-click="ctrl.addToCart()">
                Add to Cart
        </button>
    </form>
<!--
    <div >
        <span>Item Name: </span><input type="text" placeholder="Name of your item" size="30" ng-model="ctrl.item">
        <span>Quantity: </span><input type="number" placeholder="Quantity" ng-model="ctrl.quantity" min="1">
        <button type="button" class="btn btn-primary" ng-disabled="!ctrl.item" ng-click="ctrl.addToCart()">
            Add to Cart
        </button>

    </div>
 -->
    <br/>
    <div ng-show="ctrl.items.length">
        <h2>Items in your cart</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-7">Item Name</th>
                    <th class="col-md-3">Quantity</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in ctrl.items">
                    <td>{{ i.item }}</td>
                    <td>{{ i.quantity }}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="ctrl.removeFromCart($index)">
                        Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>